pandas
numpy
matplotlib
seaborn
ipykernel
scipy
stats
statsmodels
scikit-learn==1.5.2
category_encoders
preprocessing
xgboost
catboost
flask
dill
# -e . --> tells pip to install your project as a package in editable mode.Add your project root (e.g., titanic_survival_prediction/) to Python’s environment path. This lets you import modules like: from src.exception import CustomException from anywhere, even from outside the src/ folder.
-e .
